<html>
<head>
<style>
body {
  width: 100%;
  height: 400px;
  background-color: lightblue;

  background-size: 100% 100%;
  padding: 20px;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align:center ;
}
</style>
</head>
<body>

        <div class="about">
                <h1>Build your own resume</h1>
                <p>The frontend is built using CSS and html.</center><br>
                        The backend is built using python and flask.
                         </p>
        </div>
        
</body>
</html>

